@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.background {
  background-color: #555;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vh;
  padding: 5rem;
  gap: 5rem;
  max-width: 1200px;
}

.calculator-container .calculator-h1 {
  color: white;
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.calculator-body {
  background-color: #111c30;
  height: 70vh;
  width: 45vw;
  max-width: 400px;
  max-height: 420px;
  border-radius: 8px;
  margin: 0 auto;
}

.calculator-screen {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.calculator-body .calculator-operators {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.5rem;
  background-color: #e76d89;
}

.calculator-body .calculator-operators button {
  border: none;
  height: 3.5rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.calculator-numbers {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  color: black;
  font-size: 1.5rem;
  padding: 0;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.calculator-numbers button {
  background: transparent;
  height: 3.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1.5rem;
}

.calculator-numbers button:hover {
  border: 1px solid white;
}
